---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}
    
    {I am a Ph.D. candidate at x University in Department of Computer Engineering. Studying under the supervision of Prof. x and Asst. Prof. x. I am interested in x with a focus on object detection.


    I received my MSc (2016) degree from Computer Engineering Department, x University under the supervision of x.
    { content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
